<div class="parent">
	<div class="legend">
		<div class="legendItem"><span class="key-dot idle"></span>Idle</div>
		<div class="legendItem"><span class="key-dot busy"></span>Busy</div>
		<div class="legendItem"><span class="key-dot inoperable"></span>Inoperable</div>
	</div>
	<div class="pieCharts" id="pieCharts"></div>
</div>