.rf_line {
    fill: none;
    stroke: "#4DACFF";
    stroke-width: 2px;
}

.digital_line {
    fill: none;
    stroke: "#4DACFF";
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}

.comms_line {
    fill: none;
    stroke: "#FFFFFF ";
    stroke-width: 2px;
}

.facilities_line {
    fill: none;
    stroke: "#FFFFFF ";
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}

.axis line {
    stroke: white
}

.axis path {
    stroke: white;
}

.axis text {
    font-family: 'Open Sans';
    font-size: .75rem;
    fill: white;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.key-dash {
    display: inline-block;
    height: 10px;
    margin-right: .3em;
    margin-left: .3em;
    width: 4px;
}

.rf { background: #4DACFF;}
.digital { background: #4DACFF;}
.comms { background: #ffffff;}
.facilities {background: #ffffff}

.equipment-filters {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding-right: 1rem;
}

.equipment-filter {
	margin: 0 0.5rem;
}

.equipment-status-header {
	display: flex;
	flex: none;
	flex-flow: row nowrap;
	padding: 0.75rem;
	
}

.equipment_event__select_rf {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 2rem;
	
	text-align: center;
	align-self: center;
}

.equipment_event__select_digital {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 7rem;
	
	text-align: center;
	align-self: center;
}

.equipment_event__select_comms {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 5.5rem;
	
	text-align: center;
	align-self: center;
}

.equipment_event__select_facilities {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 8rem;
	
	text-align: center;
	align-self: center;
}

.equipment_event__select_rf .rux-checkbox {
    font-size: .9rem;
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
	cursor: pointer;
}

.equipment_event__select_digital .rux-checkbox {
    font-size: .9rem;
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
	cursor: pointer;
}

.equipment_event__select_comms .rux-checkbox {
    font-size: .9rem;
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
	cursor: pointer;
}

.equipment_event__select_facilities .rux-checkbox {
    font-size: .9rem;
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
	cursor: pointer;
}

.rf_legend {
    border: 2px solid #4DACFF;
    width: 85%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.digital_legend {
    border: 1.5px dashed #4DACFF;
    width: 25%;
    margin: auto;
    margin-top: 2%;
   
}
.comms_legend {
    border: 2px solid #FFFFFF;
    opacity: 0.8;
    width: 30%;
    margin: auto;
    margin-top: 4%;
}

.facilities_legend {
    border: 1.5px dashed #FFFFFF;
    width: 22%;
    margin-left: 38%;
    margin-right: 10%;
    margin-top: 2%;
  
}

.threshold-text {
    font-family: 'Open Sans';
    fill: white;
    font-size: .65rem;
    font-weight: bold;
}

.threshold-line {
    fill: none;
    stroke: white;
    stroke-width: .1rem;
    stroke-dasharray: 3, 3;
    shape-rendering: crispEdges;
}