<div class="equipment-status-header">
    <div class="equipment_event__select_rf" style="margin-left: 3rem;">
        <div class="rux-checkbox">
            <input checked$="{{selected::change}}" type="checkbox" name="checkboxRF" id="checkboxRF" />
            <label for="checkboxRF">RF</label>
        </div>
        <div class="rf_legend"></div>
    </div>
    <div class="equipment_event__select_digital">
        <div class="rux-checkbox">
            <input checked$="{{selected::change}}" type="checkbox" name="checkboxDigital" id="checkboxDigital" />
            <label for="checkboxDigital">Digital</label>
        </div>
        <div class="digital_legend"></div>
    </div>
    <div class="equipment_event__select_comms">
        <div class="rux-checkbox">
            <input checked$="{{selected::change}}" type="checkbox" name="checkboxComms" id="checkboxComms" />
            <label for="checkboxComms">Comms</label>
        </div>
        <div class="comms_legend"></div>
    </div>
    <div class="equipment_event__select_facilities">
        <div class="rux-checkbox">
            <input checked$="{{selected::change}}" type="checkbox" name="checkboxFacilities" id="checkboxFacilities" />
            <label for="checkboxFacilities">Facilities</label>
        </div>
        <div class="facilities_legend"></div>
    </div>

    <div class="equipment-filters">
        <div class="equipment-filter">
            <select id="stateFilter" value="{{ stateFilter::change }}" class="rux-select" required>
                <dom-repeat items="{{potentialEquipmentStates}}">
                    <template is="dom-repeat" items="{{potentialEquipmentStates}}">
                        <option value$="{{item.stateName}}" selected$="[[is(stateFilter, item.stateName)]]">{{item.stateName}}</option>
                    </template>
                </dom-repeat>
            </select>
        </div>
    </div>
</div>


<div id="lineChart"></div>