:host {
	flex-grow: 1;
	flex-flow: column;
	overflow-y: auto;
	display: flex;
}
.box {
	display: flex;
	align-content: center;
	flex-wrap: no-wrap;
}

.parent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
}

.legend {
	font-size: 14px;
	display: flex;
	flex-flow: row nowrap;
	padding: 1rem 2rem;
}

.legendItem {
	font-size: 14px;
	margin-right: 1rem;
}

.key-dot {
	display: inline-block;
	height: 10px;
	margin-right: .5em;
	width: 10px;
}

.busy {
	background: #48417F;
}

.idle {
	background: #00777A;
}

.inoperable {
	background: #660000
}


.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.names {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.rf {
	font-size: 24px;
	margin-left: 190px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comms {
	font-size: 24px;
	margin-left: 300px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.digital {
	font-size: 24px;
	margin-left: 270px;
	margin-right: 45px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.facilities {
	font-size: 24px;
	margin-left: 265px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.arc text {
	text-anchor: middle;
	fill: white;
  }


.polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;
	
}

path.slice{
	stroke-width:2px;
}

.pieCharts {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	justify-content: space-evenly;
	padding: 1rem;

}
.pieChart__svg {

}
.pieCharts .divider {
	height: inherit;
	width: 1px;
	padding: 1rem;
}
.pieCharts .divider:after {
	border-left: 1px solid rgba(255,255,255, .25);
	height: 80%;
	display: block;
	content: '';
}

.chartTitle {
	font-size: 18px;
	font-family: Open Sans;
	fill: white;
}
