<div class="alert-bin-header">
	<div class="alert-summary">
		<span class="alert-count"> {{ log.length }} </span> Active Alert{{
		isPlural(log.length) }}
	</div>

	<div class="alert-filters">
		<div class="alert-filter">
			<label for="statusFilter">Severity</label>
			<select id="statusFilter" value="{{ statusFilter::change }}" class="rux-select" required>
				<dom-repeat items="{{potentialStatuses}}">
					<template is="dom-repeat" items="{{potentialStatuses}}">
						<option value$="{{item.statusName}}" selected$="[[is(statusFilter, item.statusName)]]">{{capitalize(item.statusName)}}</option>
					</template>
				</dom-repeat>
			</select>
		</div>

		<div class="alert-filter">
			<label for="categoryFilter">Category</label>
			<select id="categoryFilter" value="{{ categoryFilter::change }}" class="rux-select" required>
				<dom-repeat items="{{potentialCategories}}">
					<template is="dom-repeat" items="{{potentialCategories}}">
						<option value$="{{item.categoryName}}" selected$="[[is(categoryFilter, item.categoryName)]]">{{capitalize(item.categoryName)}}</option>
					</template>
				</dom-repeat>
			</select>
		</div>
	</div>
</div>
<div class="alert-log">
	<header class="alert-log-header">
		<div class="alert-log__header-labels">
			<div class="alert-log__event__select" on-click="selectAll" data-select-all$="[[selectAllState]]">
				{{ selectAllLabel }}
			</div>
			<div class="alert-log__event__status"></div>
			<div class="alert-log__event__message">Message</div>
			<div class="alert-log__event__category">Category</div>
			<div class="alert-log__event__timestamp">Time</div>
		</div>

		<template is="dom-if" if="{{!noFiltersSet}}">
			<div class="alert-log__filter-enabled">
				<div>
					You have one or more filters selected. <br />
					<a on-click="clearFilters">Clear filters</a> to display all
					alerts.
				</div>
			</div>
		</template>
	</header>

	<ol class="alert-log__events">
		<template is="dom-if" if="{{!renderedItemCount}}">
			<template is="dom-if" if="{{noFiltersSet}}">
				<li class="alert-log__no-items">
					No new alerts. Please wait for more.
				</li>
			</template>
		</template>

		<template is="dom-repeat" id="alertLogData" items="{{log}}" as="item" sort="{{sortAlertsByTimestamp}}" filter="{{applyFilters(statusFilter, categoryFilter)}}"
		 rendered-item-count="{{renderedItemCount::dom-change}}" notify-dom-change mutable-data>
			<grm-alert restamp index="[[index]]" bind="[[item]]" id="[[item.errorId]]" severity="[[item.errorSeverity]]" message="[[item.errorMessage]]"
			 detail="[[item.longMessage]]" category="[[item.errorCategory]]" time="[[item.errorTime]]" selected="[[item.selected]]"
			 expanded="[[item.expanded]]" new="[[item.new]]"></grm-alert>
		</template>
	</ol>
</div>
<div class="alert-log__actions">
	<button class="rux-button" on-click="removeSelectedAlersFromLog" disabled$="[[!anyAlertSelected]]">
		Dismiss
	</button>
	<button class="rux-button" on-click="removeSelectedAlersFromLog" disabled$="[[!anyAlertSelected]]">
		Acknowledge
	</button>
</div>