<div class="parent">
    <div class="legend2" style="margin-top: 5px; margin-left: 30px;">
        <div class="legend2" style="margin-left: 40px; ">
            <p class="legendItem"><span class="key-dot progress"></span>In Progress</p>
        </div>
        <div class="legend2">
            <p class="legendItem"><span class="key-dot issues"></span> </span>Issues</p>
        </div>
        <div class="legend2">
            <p class="legendItem"><span class="key-dot planned"></span>Planned</p>
        </div>
        <div class="legend2">
            <p class="legendItem"><span class="key-dot completed"></span>Completed</p>
        </div>
    </div>
    <div id="chart"></div>
</div>
     