<div class="app-grid">
	<div class="grid-zone grid-zone--header">

		<app-menu class="rux-pop-up-menu" menu-items="[[ menuItems ]]" target="{{ appMenuTarget }}"></app-menu>

		<rux-global-status-bar class="rux-global-status-bar">

			<div class="app-meta" on-click="displayPopUpMenu">
	
				<svg class="app-meta__icon" width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<path stroke="none" d="M20,0 L24,0 C25.1045697,0 26,0.89543025 26,2 L26,6 C26,7.10456975 25.1045697,8 24,8 L20,8 C18.8954303,8 18,7.10456975 18,6 L18,2 C18,0.89543025 18.8954303,0 20,0 Z M20,2 L20,6 L24,6 L24,2 L20,2 Z M20,9 L24,9 C25.1045697,9 26,9.89543025 26,11 L26,15 C26,16.1045697 25.1045697,17 24,17 L20,17 C18.8954303,17 18,16.1045697 18,15 L18,11 C18,9.89543025 18.8954303,9 20,9 Z M20,11 L20,15 L24,15 L24,11 L20,11 Z M20,18 L24,18 C25.1045697,18 26,18.8954303 26,20 L26,24 C26,25.1045697 25.1045697,26 24,26 L20,26 C18.8954303,26 18,25.1045697 18,24 L18,20 C18,18.8954303 18.8954303,18 20,18 Z M20,20 L20,24 L24,24 L24,20 L20,20 Z M11,0 L15,0 C16.1045697,0 17,0.89543025 17,2 L17,6 C17,7.10456975 16.1045697,8 15,8 L11,8 C9.89543025,8 9,7.10456975 9,6 L9,2 C9,0.89543025 9.89543025,0 11,0 Z M11,2 L11,6 L15,6 L15,2 L11,2 Z M11,9 L15,9 C16.1045697,9 17,9.89543025 17,11 L17,15 C17,16.1045697 16.1045697,17 15,17 L11,17 C9.89543025,17 9,16.1045697 9,15 L9,11 C9,9.89543025 9.89543025,9 11,9 Z M11,11 L11,15 L15,15 L15,11 L11,11 Z M11,18 L15,18 C16.1045697,18 17,18.8954303 17,20 L17,24 C17,25.1045697 16.1045697,26 15,26 L11,26 C9.89543025,26 9,25.1045697 9,24 L9,20 C9,18.8954303 9.89543025,18 11,18 Z M11,20 L11,24 L15,24 L15,20 L11,20 Z M2,0 L6,0 C7.10456975,0 8,0.89543025 8,2 L8,6 C8,7.10456975 7.10456975,8 6,8 L2,8 C0.89543025,8 0,7.10456975 0,6 L0,2 C0,0.89543025 0.89543025,0 2,0 Z M2,2 L2,6 L6,6 L6,2 L2,2 Z M2,9 L6,9 C7.10456975,9 8,9.89543025 8,11 L8,15 C8,16.1045697 7.10456975,17 6,17 L2,17 C0.89543025,17 0,16.1045697 0,15 L0,11 C0,9.89543025 0.89543025,9 2,9 Z M2,11 L2,15 L6,15 L6,11 L2,11 Z M2,18 L6,18 C7.10456975,18 8,18.8954303 8,20 L8,24 C8,25.1045697 7.10456975,26 6,26 L2,26 C0.89543025,26 0,25.1045697 0,24 L0,20 C0,18.8954303 0.89543025,18 2,18 Z M2,20 L2,24 L6,24 L6,20 L2,20 Z"></path>
				</svg>
	
				<h1><span>GRM</span>Dashboard</h1>
	
				<div class="app-meta__username">[[ user.name ]]</div>
			</div>

			<rux-clock class="rux-clock"></rux-clock>

			<status-indicators class="status-indicators" status="{{statusData}}" uca-progress="{{ucaProgress}}"></status-indicators>

		</rux-global-status-bar>

	</div>

	<div class="grid-zone grid-zone--sidebar">
		<div class="grid-zone__content">
			<grm-alerts log="{{alertsLog}}"></grm-alerts>
		</div>
	</div>

	<main class="grid-zone grid-zone--main">
		<div class="grid-zone__content">
			<div class="grid-zone--main__subheader main__tabs">
				<div class="rux-form-field-div-search">
					<div class="rux-form-field search">
						<input class="rux-form-field__text-input search" placeholder="Search …" type="search" />
					</div>
				</div>
				<rux-tabs compact id="mainTabs" transparent class="rux-tabs">
					<rux-tab class="secondary-toolbar__tabs__tab" id="t0" role="tab">Contacts</rux-tab>
					<rux-tab class="secondary-toolbar__tabs__tab" id="t1" role="tab">Equipment</rux-tab>
				</rux-tabs>
			</div>

			<rux-tab-panels aria-labeledby="mainTabs" class="grid-zone grid-zone--main__content">

				<!-- Contacts Tab -->
				<rux-tab-panel aria-labeledby="t0" role="tabpanel">
					<div class="grid-zone inner-grid">
						<div class="grid-zone grid-zone--main__content__upper">
							<div class="grid-zone__label current-contacts">
								Current Contacts
							</div>
							<div class="grid-zone__content">
								<current-contacts log="[[contactsLog]]"></current-contacts>
							</div>
						</div>
						<div class="grid-zone grid-zone--main__content__lower ">
							<div class="grid-zone__label contacts-summary">
								Contacts Summary
							</div>
							<div class="grid-zone__content">
								<grm-contacts-summary></grm-contacts-summary>
							</div>
						</div>
					</div>
				</rux-tab-panel>


				<!-- Equipment Tab -->
				<rux-tab-panel aria-labeledby="t1" role="tabpanel">
					<div class="grid-zone inner-grid">
						<div class="grid-zone grid-zone--main__content__upper ">
							<div class="grid-zone__label current-contacts">
								Current Equipment Status
							</div>
							<grm-equipment-status></grm-equipment-status>

						</div>
						<div class="grid-zone grid-zone--main__content__lower">
							<div class="grid-zone__label contacts-summary">
								Trending Equipment Status
							</div>
							<grm-equipment-trending></grm-equipment-trending>

						</div>
					</div>
				</rux-tab-panel>
			</rux-tab-panels>
		</div>
	</main>
</div>