

:host {
	--gridGutter: .5rem;
	--appMenuDefault: #455D6E;
	--appMenuHover: #6A7D8B;
	--appMenuActive: #FFF;
}

.grid-zone {
	grid-column-start: auto;
	grid-column-end: auto;
	grid-row-start: auto;
	grid-row-end: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.grid-zone--header {
	grid-area: header;
}
.grid-zone--sidebar {
	grid-area: sidebar;
	border: 1px solid rgba(255,255,255, .125);
	border-width: 0 1px 1px 0;

}
.grid-zone--main {
	grid-area: main;
	background-color: rgb(32, 50, 70);
	background:
		linear-gradient(
			to top,
			rgb(26, 40, 56) 0%,
			rgb(32, 50, 70) 80%,
			rgb(40, 63, 88) 100%
		);
	padding: 0 var(--gridGutter);

}
.grid-zone--main__subheader {
	grid-area: subheader;
	padding: var(--gridGutter) 0;

}
.grid-zone--main__content {
	grid-area: content;
	background: rgb(26, 40, 56);
	border: 1px solid rgba(255,255,255, .125);
}
.grid-zone--main__content rux-tab-panel {
	overflow: hidden;
	flex-grow: 1;
}

.grid-zone--main__content__upper {
	flex: 2 1 25vw;
	position: relative;
}
.grid-zone--main__content__upper:after {
	content: "";
	box-shadow: 0 -0.5rem 1.25rem rgba(0, 0, 0, 0.25);
	position: absolute;
	width: 100%;
	bottom: -1rem;
	height: 1rem;
	display: block;
}
.grid-zone--main__content__lower {
	flex: 1 1 20vw;
}
.grid-zone--main__content__lower .grid-zone__label {
	border-top: 1px solid rgba(255,255,255, .125);
}
.grid-zone--main__content__lower .grid-zone__content {
	flex-flow: row nowrap;
	align-items: center
}
.grid-zone--main__content__lower grm-contacts-summary {
	flex: 1;
}

.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
}

.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

/* Grid containers */
.app-grid {
	background: rgb(26, 40, 56);
	display: grid;
	width: 100vw;
	height: 98vh;
	padding: 0 0 2vh;
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-rows: fit-content(100%) 0 fit-content(100%);
	grid-template-columns: minmax(600px, 28%) auto;
	grid-template-areas:
		"header header"
		"sidebar subheader"
		"sidebar main";
}
.inner-grid {
	height: 100%;
}

.main__tabs .rux-tabs {
	position: relative;
}

.main__tabs .rux-tabs::after {
	position: absolute;
	width: 100%;
	height: 4px;
	background: rgb(26, 40, 56);
	display: block;
	content: "";
	bottom: 0;
	z-index: 0;
}

.secondary-toolbar__tabs__tab {
	z-index: 1;
}



.rux-form-field input {
	box-sizing: border-box;
	order: 2;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--inputBorderColor, transparent);
	border-radius: 3px;

	font-size: var(--fontSize, 1rem);
	color: var(--inputTextColor, rgb(0, 0, 0))
}

.rux-form-field-div-search{
	right: 0;
	position: absolute;
	padding: .5rem 1.5rem 0 1rem;
	display: block;
	z-index: 10;
}

.rux-form-field input[type='search'] {
	/*
		When overriding an element that has a shadowDOM it’s often the case you need to explicitly
		disable the default styling of the element for each browser
	*/

	-webkit-appearance: none;
	display: block;
	height: 1.625rem;
	/*
		Data-uri encode, Polymer sometimes chokes on ASCII escaped, but usually only when it
		encounters a parenthesis.
	*/
	background: no-repeat center left 0.3rem/1.1em url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%3Cg%20fill%3D%22%230973C1%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%208c2.21%200%204-1.79%204-4s-1.79-4-4-4-4%201.79-4%204%201.79%204%204%204zm0-1a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-4.707.293l1.414%201.414-4%204-1.414-1.414%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.33%205.67l1%201-3.66%203.66-1-1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") #fff;
	padding: 0.5rem 0.5rem 0.5rem 1.75rem;
}

.rux-global-status-bar .app-meta {
	padding-left: 20px;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
		"icon appname"
		"icon username";
}	
.rux-global-status-bar .app-meta__icon:hover {
	cursor: pointer;
}
.rux-global-status-bar .app-meta__icon {
	grid-area: icon;
	fill: var(--appMenuDefault);
}
.rux-global-status-bar .app-meta__icon:hover {
	fill: var(--appMenuHover);
}
.rux-pop-up-menu[opened] ~ .rux-global-status-bar .app-meta__icon {
	fill: var(--appMenuActive);
}
.rux-global-status-bar .app-meta h1 {
	grid-area: appname;
	font-size: 28px;
	margin: 0;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFF;
}

.rux-global-status-bar .app-meta h1 span {
	font-weight: 600;
	margin-right: 10px;
}

.rux-global-status-bar .app-meta__username {
	grid-area: username;
	font-size: 12px;
	line-height: 12px;
	
}

.rux-global-status-bar .status-indicators {
	margin-right: 100px;
}